<%- include("template/header") %>
<h1>Terms of Service</h1>
<p>Welcome to Golden Gaming. By using our website and services, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms carefully.</p>

<h2>1. Acceptance of Terms</h2>
<p>By accessing or using our services, you agree to be bound by these terms.</p>

<h2>2. Changes to Terms</h2>
<p>We reserve the right to modify these terms at any time. Changes will be effective immediately upon posting. Your continued use of the service constitutes your acceptance of any changes.</p>

<h2>3. Use of Service</h2>
<p>You agree to use our services only for lawful purposes and in accordance with these terms.</p>

<h2>4. User Accounts</h2>
<p>You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer.</p>

<h2>5. Termination</h2>
<p>We may terminate or suspend your account at any time, without prior notice or liability, for any reason, including if you breach the terms.</p>

<h2>6. Limitation of Liability</h2>
<p>In no event shall Golden Gaming be liable for any indirect, incidental, special, consequential, or punitive damages.</p>

<h2>Contact Us</h2>
<p>If you have any questions about these terms, please contact us at goldengaming2800@gmail.com</p>
</body>
<%- include("template/footer") %>