:root {
    --background-color: #f0f0f0;
    --primary-color: linear-gradient(180deg, #1e3c96, #6e6e6e);
    --secondary-color: #6c757d;
    --text-color: #333;
    --link-hover-color: linear-gradient(180deg, #cc9f64, #cc7400);
    --text-color-header: #f0f0f0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--text-color);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 375;
    font-style: normal;
    background-size: cover;
  }
  
  header {
    background-image: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .nav__logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  header .nav__menu {
    display: flex;
    gap: 15px;
  }
  
  header .nav__menu a {
    color: var(--text-color-header);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  header .nav__menu a:hover {
    background: var(--link-hover-color);
  }

  header .nav__menu a.active {
    background: var(--link-hover-color);
    font-weight: bold;
  }
  
  
  footer {
    background: white;
    color: black;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer p {
    margin: 0;
  }
  
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  button {
    background-image: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-image 0.3s;
  }
  
  button:hover {
    background-color: var(--link-hover-color);
  }
  

  