<%- include("template/header") %>
<div style="margin: 0% auto; padding-top: 10%; height: 70vh; align-items: center;">
    <h1 style="font-size: 100px">404</h1>
    <br><br>
    <h1 style="">oops... page not found</h1>
    <img style="width: 50%;" src="/images/spaceinvadershot.gif">
</div>


<%- include("template/footer") %>
