<div class="container" id="bottom-Navbar">
  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
    <li>
      <a href="/" class="nav-link text-secondary">
        <i class="bi bi-house-door"></i> Home
      </a>
    </li>

    <li>
      <a href="/games" class="nav-link text-secondary">
        <i class="bi bi-controller"></i> Games
      </a>
    </li>

    <li>
      <a href="/social" class="nav-link text-secondary">
        <i class="bi bi-people"></i> Social
      </a>
    </li>

  </ul>
</div>

<%- include('chatOverlay') %>

<script src="/js/header.js"></script>
<!-- Easter Egg code -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function() {
    var clickTimeout;

    $('#logo').click(function() {
      clearTimeout(clickTimeout); 

      clickTimeout = setTimeout(function() {
        // Single click action: Redirect to home
        window.location.href = "/";
      }, 200);
    });

    $('#logo').dblclick(function() {
      clearTimeout(clickTimeout); 

      $(this).addClass('firework').delay(500).queue(function(next) {
        $(this).removeClass('firework');
        next();
      });
      var logoImg = $(this);
      var originalSrc = '/images/logo.png';
      var secondSrc = '/images/logo2.png';

      logoImg.addClass('firework').delay(500).queue(function(next) {
        logoImg.removeClass('firework');
        next();
      });

      logoImg.animate({
          'width': '250px',
          'height': '150px'
        }, 200)
        .fadeOut(200, function() {

          var currentSrc = logoImg.attr('src');
          var newSrc = currentSrc === originalSrc ? secondSrc : originalSrc;
          logoImg.attr('src', newSrc)
            .fadeIn(200)
            .animate({
              'width': '100%',
              'height': '100%'
            }, 200);
        });
    });
  });
</script>
</body>
</html>