<%- include("template/header") %>
<div id="login-container">
    <form class="login-form" action="/signupSubmit" method="post">
      <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <div class="input-group">
        <label for="email-phone" class="login-text">Email/Phone*</label>
        <input type="text" id="email-phone" name="email" placeholder="Enter your email/phone">
      </div>
      <div class="input-group">
        <label for="username" class="login-text">Username*</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
      </div>
      <div class="input-group">
        <label for="password" class="login-text">Password*</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>
      <p>Fields marked with an * indicate they are required.</p>
      <button class="submit-button" type="submit">Sign Up</button>
      <br>
      <a href="/auth/google" class="btn btn-primary" style="margin-top: 20px" role="button">Sign up with Google</a>
    </form>
  </div>
  <script src="/js/signup.js"></script>
  
<%- include("template/footer") %>